<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.7.1/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.7.1/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet-providers/1.12.0/leaflet-providers.js"></script>
        <style>
            :root { --navbar-height: 40px }
            html, body, #container { height: 100%; overflow: hidden; width: 100% }
            .navbar { min-height: var(--navbar-height) }
            #mapid { height: 90%; width: auto; }
        </style>
        <title>Namkoron (নামকরণ)</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">নামকরণ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customqueryModal">Custom query</button>
                </li>
              </ul>
              {{ authentication_area() }}
            </div>
          </div>
        </nav>
        <div id="container">
            <div id="mapid"></div>
        </div>
        <div class="modal fade" id="customqueryModal" tabindex="-1" aria-labelledby="customqueryModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customqueryModalLabel">Custom query</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <div class="mb-3">
                <p>Enter a custom SPARQL query to use here.</p>
                <p>The first query variable in the SELECT line which refers to an item will be used as the item, and the first such variable referring to a coordinate will be used as the coordinate.</p>
                <p>(A variable referring to the label of the item is not necessary.)</p>
                <textarea class="form-control" id="customqueryText" rows="3" style="height: 134px;">{{ query_string }}</textarea>
                Target language code:
                <input id="customqueryNewlang" type="text" class="form-control" value="{{ target_lang }}">
               </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="customqueryCloseModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="customquerySubmit" class="btn btn-primary">Submit</button>
             </div>
            </div>
          </div>
        </div>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script>
            var current_map = L.map('mapid', {renderer: L.canvas()});
            L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
                attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a> | Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
            }).addTo(current_map);
            var current_point_set = L.layerGroup().addTo(current_map);

            function markerPopupOpen(e){
                var currentPopup = e.popup;
                var currentQid = e.target.options.qid;
                var currentQid_formatted = "<a target='_blank' href='" + currentQid + "'>" + currentQid.replace("http://www.wikidata.org/entity/","") + "</a>";
                var targetlang = e.target.options.targetlang;
                var container = L.DomUtil.create('div');
{% if not tooltipAllowsEdits() %}
                var rest_of_message = targetlang + ' label for ' + currentQid_formatted + ': ' + e.target.getTooltip().getContent() + '';
                if(e.target.options.color != '#0f0')
                    rest_of_message = 'No ' + rest_of_message;
                container.innerHTML += rest_of_message;
{% else %}
                var verb = 'Add';
                var rest_of_message = ' ' + targetlang + ' label for ' + currentQid_formatted + ' (' + e.target.getTooltip().getContent() + '): <br/>';
                if(e.target.options.color == '#0f0')
                    verb = 'Change';
                container.innerHTML += verb + rest_of_message
                var currentTextBox = L.DomUtil.create('input', '', container);
                var currentButton = L.DomUtil.create('button', '', container);
                currentButton.setAttribute('type', 'button');
                currentButton.innerHTML = 'Submit';
                submitLabel = function(){
                    currentButton.innerHTML = 'Submitting...';
                    fetch(window.location, {method: 'POST', body: new URLSearchParams({
                        "qid": currentQid, "newlang": targetlang, "newlabel": currentTextBox.value, "csrf_token": "{{ csrf_token() }}"
                    })}).then(response => response.json()).then(function(data){
                        if('success' in data){
                          e.target.setStyle({color: '#0f0'});
                          e.target.setTooltipContent(data["entity"]["labels"]["{{ target_lang }}"]["value"]);
                          e.target.closePopup();
                        }
                    });
                };
                currentButton.onclick = submitLabel;
                currentTextBox.onkeydown = function(e){
                    if(e.defaultPrevented) return;
                    switch(e.code){
                        case "Enter":
                        case "NumpadEnter":
                            currentButton.click();
                            break;
                    }
                };
{% endif %}
                currentPopup.setContent(container);
            }
            
            max_requestable_elements = 50;

            function renderPoints(map_in, layergroup_in, data_in, target_lang){
                layergroup_in.clearLayers();
                Object.entries(data_in).forEach(function(item){
                    qid = item[0];
                    var lat_in = item[1][0];
                    var lon_in = item[1][1];
                    var current_label_lang = item[1][2];
                    var current_label = item[1][3];
                    var color_in = '#f00';
                    if(current_label_lang == target_lang)
                        color_in = '#0f0';
                    var popup_text = "<div>Add " + target_lang + " label: <input/></div>";
                    var marker = L.circleMarker([lat_in, lon_in], {color: color_in, radius: 5, qid: qid, lang: current_label_lang, targetlang: target_lang})
                                  .bindTooltip(current_label)
                                  .bindPopup(popup_text)
                                  .on('popupopen', markerPopupOpen);
                    marker.addTo(layergroup_in);
                });
                map_in.setView([data_in[qid][0], data_in[qid][1]], 9);
            }

            document.getElementById('customquerySubmit').addEventListener("click", function(e){
                e.target.textContent = "Loading...";
                var targetlang = document.getElementById("customqueryNewlang").value;
                var custom_query = document.getElementById("customqueryText").value;
                fetch(window.location, {method: 'POST', body: new URLSearchParams({
                    "custom_query": custom_query,
                    "csrf_token": "{{ csrf_token() }}",
                    "targetlang": targetlang
                })}).then(response => response.json()).then(function(data){
                    if("error" in data){
                        e.target.textContent = "Retry (" + data["error"] + " error)";
                    }
                    else{
                        renderPoints(current_map, current_point_set, data, targetlang);
                        e.target.textContent = "Submit";
                        document.getElementById('customqueryCloseModal').click();
                    }
                });
            });

            var data_default = {{ coords|tojson }};
            renderPoints(current_map, current_point_set, data_default, "{{ target_lang }}");
        </script>
    </body>
</html>

